body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-image:url("/blog/images/bg-canvas_bg.jpg");
}

// Main
// --------------------------------------------------
.entry,
.hentry {
	@include clearfix;
	h1, h2, h3, h4, h5, h6, p, li {
		word-wrap: break-word;
	}
}
.entry-content {
	@include font-size(16);
	// Dotted line underlines for links
	p > a,
	li > a {
		border-bottom: 1px dotted lighten($link-color, 50);
		&:hover {
			border-bottom-style: solid;
		}
	}
}

// Entry Header
// --------------------------------------------------
.entry-header {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.header-title {
	text-align: center;
	margin: 30px 0 0;
	h1 {
		margin: 10px 20px;
		font-weight: 700;
		@include font-rem(32);
		color: lighten($base-color,20);
		@media #{$medium} {
			@include font-rem(48);
		}
		@media #{$large} {
			@include font-rem(60);
		}
	}
	h2 {
		margin: 0;
		@include font-rem(18);
		text-transform: uppercase;
		color: lighten($base-color,40);
		@media #{$medium} {
			@include font-rem(24);
		}
	}
	p {
		color: lighten($base-color,20);
	}
}
.feature .header-title {
	position: absolute;
	top: 0;
	display: table;
	margin-top: 0;
	width: 100%;
	height: $feature-image-height;
	overflow: hidden;
	.header-title-wrap {
		display: table-cell;
		vertical-align: middle;
		margin: 0 auto;
		text-align: center;
	}
	h1 {
		margin: 10px;
		font-weight: 700;
		margin: 10px 60px;
		color: $white;
		text-shadow: 1px 1px 4px rgba($base-color,0.6);
		a {
			color: $white;
		}
		@media #{$large} {
		}
	}
	h2 {
		margin: 0;
		color: $white;
		text-transform: uppercase;
		@media #{$medium} {
			a {
				color: $white;
			}
		}
	}
	p {
		color: $white;
	}
}
.entry-image {
	position: relative;
	top: -50%; 
	left: -50%; 
	width: 200%; 
	height: 200%;
	min-height: $feature-image-height;
	overflow: hidden;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($base-color,0.3);
	}
	img {
		position: absolute; 
		top: 0; 
		left: 0; 
		right: 0; 
		bottom: 0; 
		margin: auto; 
		min-width: 50%;
		min-height: $feature-image-height; // match .entry-image min-height
	}
}
// Feature Image height on Front Page
#post-index {
	&.feature .header-title {
		height: $front-page-feature-image-height;
	}
	.entry-image {
		min-height: $front-page-feature-image-height;
		img {
			min-height: $front-page-feature-image-height;
		}
	}
}
// Feature Image Caption
.image-credit {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0 auto;
	max-width: 440px;
	padding: 10px 15px;
	background-color: rgba($base-color,0.5);
	color: $white;
	@include font-rem(12);
	text-align: right;
	@include border-radius(3px,0,0,3px);
	z-index: 10;
	@media #{$medium} {
		max-width: 760px;
	}
	@media #{$large} {
		max-width: 960px;
	}
	a {
		color: $white;
		text-decoration: none;
	}
}

// Single Post and Page
// --------------------------------------------------
.entry-meta {
	@include font-rem(12);
	text-transform: uppercase;
	color: lighten($base-color,60);
	a {
		color: lighten($base-color,60);
	}
	.vcard {
		&:before {
			content: " by ";
		}
	}
	.tag {
		display: inline-block;
		margin: 4px;
		color: $white;
		@include rounded(3px);
		background-color: lighten($base-color,50);
		span {
			float: left;
			padding: 2px 6px;
		}
		.count {
			background-color: lighten($base-color,40);
			@include border-radius(3px,3px,0,0);
		}
		&:hover {
			background-color: lighten($base-color,40);
		}
	}
	.entry-reading-time {
		float: right;
	}
}
header .entry-meta {
	display: none; // hide header meta on small screens
	@media #{$medium} {
		display: block;
	}
}
#post,
#page {
	.entry-content {
		margin: 40px 2px 20px 2px;
		padding: 10px 15px;
		background-color: $white;
		box-shadow: 0 0 0 0, 0 6px 12px rgba($black,0.1);
		@include rounded(3px);
		@media #{$medium} {
			margin-left: 10px;
			margin-right: 10px;
			padding: 20px 30px;
		}
		@media #{$large} {
			max-width: 800px;
			margin: 50px auto 30px auto;
			padding: 50px 80px;
			> p:first-child {
				@include font-size(20);
			}
		}
	}
	#disqus_thread {
		margin: 40px 2px 20px 2px;
		padding: 10px 15px;
		background-color: $white;
		box-shadow: 0 0 0 1px rgba($border-color,0.1), 0 6px 12px rgba($black,0.1);
		@include rounded(3px);
		@media #{$medium} {
			margin-left: 10px;
			margin-right: 10px;
			padding: 20px 30px;
		}
		@media #{$large} {
			max-width: 800px;
			padding: 50px 80px;
			margin: 0 auto 30px auto;
		}
	}
	.entry-meta {
		margin: 50px 30px 30px;
		text-align: center;
	}
}
.entry-tags {
	display: block;
	margin-bottom: 6px;
}
.tag-heading,
.year-heading {
	margin-top: 0;
}
// Permalink icon for link post
.permalink {
	margin-right: 7px;
}
// Post Pagination Module
.pagination {
	margin: 20px 10px;
	text-align: center;
	ul {
		display: inline;
		margin-left: 10px;
		margin-right: 10px;
	}
	li {
		padding-left: 4px;
		padding-right: 4px;
	}
	.current-page {
		font-weight: 700;
	}
}

// Read More Module
.read-more {
	position: relative;
	margin: 40px 2px 20px 2px;
	padding: 40px 15px 25px;
	background-color: $white;
	box-shadow: 0 0 0 1px rgba($border-color,0.1), 0 6px 12px rgba($black,0.1);
	@include rounded(3px);
	@media #{$medium} {
		margin: 50px 10px 20px 10px;
		padding: 50px 40px 25px;
	}
	@media #{$large} {
		max-width: 800px;
		padding: 50px 80px;
		margin: 60px auto;
	}
	text-align: center;
	@include clearfix;
}
.read-more-header {
	position: absolute;
	top: -20px;
	left: 0;
	right: 0;
	height: 35px;
	a {
		@extend .btn;
	}
}
.read-more-content {
	@include font-size(16);
	// Dotted line underlines for links
	p > a,
	li > a {
		border-bottom: 1px dotted lighten($link-color, 50);
		&:hover {
			border-bottom-style: solid;
		}
	}
	h3 {
		margin: 0;
		@include font-rem(28);
		a { 
			color: $text-color;
		}
		@media #{$medium} {
			@include font-rem(36);
		}
	}
}
.read-more-list {
	border-top: solid 2px lighten($base-color,80);
}
.list-item {
	width: 100%;
	text-align: left;
	h4 { 
		@include font-rem(18);
		margin-bottom: 0; 
	}
	span { 
		display: block;
		@include font-rem(14);
		color: lighten($base-color,50);
	}
	@media #{$medium} {
		width: 49%;
		float: left;
		&:nth-child(2) {
			text-align: right;
		}
	}
}

// Post Index 
// --------------------------------------------------
#post-index {
	#class_main {
		margin: 40px 2px 20px 2px;
		@media #{$medium} {
			margin-left: 20px;
			margin-right: 20px;
		}
		@media #{$large} {
			max-width: 800px;
			min-height: 400px;
			margin-top: 50px;
		}
	}
	#post-index_main{
		margin: 40px 2px 20px 2px;
		@media #{$medium} {
			margin-left: 20px;
			margin-right: 20px;
		}
		@media #{$large} {
			max-width: 800px;
			margin-top: 50px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	article {
		background-color: $white;
		box-shadow: 0 0 0 0, 0 6px 12px rgba($base-color,0.1);
		@include rounded(3px);
		margin-bottom: 20px;
		padding: 25px 15px;
		@media #{$medium} {
			padding: 30px;
		}
		@media #{$large} {
			margin-bottom: 30px;
			padding: 50px 80px;
		}
	}
	//---.categories-list-item  .my-badge----
	.categories-list-item{
		display: block;
		padding:8px 15px; 
		border-bottom:1px solid #ddd; 

		transition:0.4s ease;
		-webkit-transition:0.4s ease;
		-moz-transition:0.4s ease;
		-o-transition:0.4s ease;
	}
	.categories-list-item:last-of-type{
		border-bottom:none; 
	}
	.categories-list-item:hover{
		background-color: rgba(0,0,10,0.075);
		color: #983;
	}
	.categories-list-item .my-badge{
		font-size: 12px;
		font-weight: bold;
		color: #fff;
		background-color: #999;
		padding: 0 7px 1px 7px;
		border-radius: 9px;
		float: right;
		transition:0.4s ease;
		-webkit-transition:0.4s ease;
		-moz-transition:0.4s ease;
		-o-transition:0.4s ease;
	}
	.categories-list-item:hover .my-badge{
		-webkit-transform:rotate(360deg) scale(1.2);
		-moz-transform:rotate(360deg) scale(1.2);
		-o-transform:rotate(360deg) scale(1.2);
		-ms-transform:rotate(360deg) scale(1.2);
		transform:rotate(360deg) scale(1.2);
	}
	//---.categories-list-header----
	.categories-list-header {
	display: block;
	padding: 12px 15px;
	border-bottom: 1px solid #c0c0c0;
	font-size: 16px;
	font-weight: bold;
	}
	//---.shadow-corner-curl---
	.shadow-corner-curl{
		position: relative;
		background-color:#f8f8fd; 
		-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
		-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
		-o-box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
		box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
	}
	.shadow-corner-curl:before{
		content:"";
		position: absolute;
		z-index: -5;
		width: 70%;
		height:70%;
		left: 9%;
		bottom: 2%;
		background: transparent;
		-webkit-box-shadow: 0 8px 20px rgba(0,0,0,0.6);
		-moz-box-shadow: 0 8px 20px rgba(0,0,0,0.6);
		-o-box-shadow: 0 8px 20px rgba(0,0,0,0.6);
		box-shadow: 0 8px 20px rgba(0,0,0,0.6);

		/* 向左倾斜12度，再旋转4度 */
		-webkit-transform:skew(-11deg) rotate(-4deg);
		-moz-transform:skew(-11deg) rotate(-4deg);
		-o-transform:skew(-11deg) rotate(-4deg);
		-ms-transform:skew(-11deg) rotate(-4deg);
		transform:skew(-11deg) rotate(-4deg);
	}
	.shadow-corner-curl:after{
		content:"";
		position: absolute;
		z-index: -5;
		width: 70%;
		height:70%;
		right: 9%;
		bottom: 2%;
		background: transparent;
		-webkit-box-shadow: 0 8px 20px rgba(0,0,0,0.6);
		-moz-box-shadow: 0 8px 20px rgba(0,0,0,0.6);
		-o-box-shadow: 0 8px 20px rgba(0,0,0,0.6);
		box-shadow: 0 8px 20px rgba(0,0,0,0.6);

		/* 向左倾斜12度，再旋转4度 */
		-webkit-transform:skew(11deg) rotate(4deg);
		-moz-transform:skew(11deg) rotate(4deg);
		-o-transform:skew(11deg) rotate(4deg);
		-ms-transform:skew(11deg) rotate(4deg);
		transform:skew(11deg) rotate(4deg);
	}
	//---.hidden-xs----
	@media (max-width:767px){
		.hidden-xs{display:none!important
		}
	}
	//---.col-sm-3----
	.col-sm-3{
	  position: absolute;
	  min-height: 1px;
	  padding-left: 7px;
	}
	.col-sm-3 {
	   width: 20%;
	}
	//----.main_content---
	.main_content{
		position: relative;
		left: 37%;
	}
	//--------------
	//-------.col-sm-9--------
	.col-sm-9{
		padding-left: 15px;
	}
	//-------.post-area--------
	.post-area{
		background-color:#f8f8fd;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
		-o-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
		box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
	}
	//-------.post-list-header--------
	.post-list-header{
		padding: 15px 30px;
		border-bottom: 1px solid #c0c0c0;
		font-size: 30px;
		font-weight: bold;
	}
	//-------.post-list-item--------
	.post-list-item{
		display: block;
		padding:8px 30px 10px 30px; 
		border-bottom:1px solid #ddd;

		transition:0.4s ease; 
		-webkit-transition:0.4s ease;
		-moz-transition:0.4s ease;
		-o-transition:0.4s ease;
	}
	.post-list-item:last-of-type{
		border-bottom: none;
	}
	.post-list-item h2{
		font-size: 20px;
		margin: 8px 0 8px 0;
		padding: 0;
	}
	.post-list-item:hover{
		background-color: rgba(0,0,6,0.05);
		
	}
	//-------.classfication-entry-header--------
	.classfication-header-title-wrap{
		float: right;
		line-height: 45px;
		margin-right: 5%;
	}
	.classfication-entry-header {
		width: 100%;
		overflow: hidden;
		position: fixed;
		background-color: #375a7f;
		z-index: 2000;
		margin-top: -60px;
	}
	.classfication-header-title-wrap h3{
			color:#fff;
	}
}
.entry-image-index {
	margin-top: -25px;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 10px;
	@media #{$medium} {
		margin-top: -30px;
		margin-left: -30px;
		margin-right: -30px;
		margin-bottom: 15px;
	}
	@media #{$large} {
		margin-top: -50px;
		margin-left: -80px;
		margin-right: -80px;
		margin-bottom: 20px;
	}
	img {
		@include border-radius(3px,0,0,3px); // round image corners
	}
}

// Footer
// --------------------------------------------------
.footer-wrapper {
	@include clearfix;
	margin: 2em auto;
	text-align: center;
	color: lighten($text-color,20);
	a {
		color: lighten($text-color,20);
	}
}

// Social Share
// --------------------------------------------------
.socialcount {
	@include font-rem(16);
	li { 
		padding-left: 10px;
		padding-right: 10px;
	}
	p > a,
	li > a {
		border-bottom-width: 0;
	}
}


// Browser Upgrade
// --------------------------------------------------
.upgrade {
	padding: 10px;
	text-align: center;
}

// Google Search
// --------------------------------------------------
#goog-fixurl {
	ul {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		li {
			list-style-type: none;
		}
	}
}
#goog-wm-qt {
	width: auto;
	margin-right: 10px;
	margin-bottom: 20px;
	padding: 8px 20px;
	display: inline-block;
	@include font-rem(14);
	background-color: $white;
	color: $text-color;
	border-width: 2px !important;
	border-style: solid !important;
	border-color: lighten($primary,50);
	@include rounded(3px);
}
#goog-wm-sb {
	@extend .btn;
}
